body {
    font-family: sans-serif;
    font-size: 1.2em;
    color: black;
    line-height: 1.2em;
}

body:after{
      content:"";
      position:fixed; /* stretch a fixed position to the whole screen */
      top:0;
      height:100vh; /* fix for mobile browser address bar appearing disappearing */
      left:0;
      right:0;
      z-index:-1; /* needed to keep in the background */
      /* background: url(https://www.w3schools.com/css/trolltunga.jpg) center center; */
      background: url("img/nodes.jpg") center bottom;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-attachment:scroll
}

h1 {
    font-family: 'Knewave', sans-serif;
    line-height: 1.2em;
    text-align: center;
    font-size: 2.2em;
}

h2 {
    font-family: monospace;
    margin: 1em 0em 0em 0em;
    font-size: 1.3em;
    line-height: 1.2em;
}

.content {
    margin: 1em;
    padding: 1em;
    background: #fffe;
    border-radius: 10px;
}

.banner {
    width: 100%;
}

ul {
    line-height: 1.6em;
    list-style-type: square;
}

a {
    color: #088;
    text-decoration: none;
}

a:hover {
    color: #0cc;
}

p {
    line-height: 1.4em;
}
