body {
    font-family: sans-serif;
    font-size: 1.2em;
    line-height: 1.2em;
    background: #abc;
}

h1 {
    font-family: sans-serif;
    line-height: 1.2em;
    text-align: center;
    font-size: 3em;
}

h2 {
    margin: 1em 0em 0em 0em;
    font-size: 1.3em;
    line-height: 1.2em;
}

.content {
    margin: 0em 5% 2em 5%;
    padding: 1em 0em 0em 0em;
}

.banner {
    width: 100%;
}

ul {
    line-height: 1.6em;
}

a {
    color: black;
}

a:hover {
    color: #555;
}

p {
    line-height: 1.4em;
}
